<div class="container">
  <div class="badge">
    <button (click)="finalizar()" class="mat-elevation-z8"  mat-stroked-button color="primary" matBadge="{{ closed }}">Tasks finalizadas</button>
  </div>
    <button routerLink="create" class="nova-task mat-elevation-z8" mat-stroked-button color="primary">Nova task</button>


    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">
            <p>Data para finalizar:{{ item.dataParaFinalizar }}</p>
            <mat-card-header>
              
              <mat-card-title>{{item.titulo}}</mat-card-title>
              <mat-card-subtitle>{{item.descricao}}</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button (click)="fanalizarTask(item)" mat-mini-fab  class="btnGreen" >
                    <mat-icon>done</mat-icon>
                  </button>
                  <button mat-mini-fab color="accent" >
                    <mat-icon>edit</mat-icon>
                 </button>
                    <button (click)="delete(item.id)" mat-mini-fab  class="btnRed">
                        <mat-icon>delete</mat-icon>
                    </button>
            </div>
            
          </mat-card>
    </div>
</div>